@page "/testoverview"
@inject Services.TestsDefinitionBackendAccessService TestDefinitionService
@inject NavigationManager NavigationManager
@inject UserServicee UserService

<div class="container">

    <h2 class="text-center">Your Tests</h2>
    <hr class="divider">
    <div class="col text-center">

        <div class="px-5">
            <EditForm Model="@searchValue">
                <div class="searchcostum input-group pt-2">


                    @if (isFiltered == false)
                    {
                        <div class="px-auto shadow">
                            <InputText type="search" class="form-control rounded" placeholder="Search by Topic"
                                       aria-label="Name of the Content" style="width: 155px;" aria-describedby="search-addon" @bind-Value="@searchValue" />


                        </div>
                        <button class="btn btn-outline-primary btn-sm shadow" @onclick="SearchContent">
                            Search
                        </button>
                        <br />
                        <hr />

                    }
                    else
                    {
                        <div class="text-center pb-2">
                            <button class="btn btn-outline-primary" @onclick="ResetSearchContent">Return</button>
                        </div>
                        <br />
                        <hr />
                    }

                </div>
            </EditForm>
            @if (UserService.User != null && UserService.User.Role == Role.Teacher)
            {
                <div class="text-center py-2">
                    <button class="btn btn-success btn-sm shadow" @onclick="AddTest">+ Add test</button>
                </div>
            }
        </div>
    </div>

    @if (Tests != null)

    {
        @if (UserService.User != null && UserService.User.Role == Role.Teacher)
        {
            <ul class="list-group list-group-flush">

                @foreach (var content in Tests)
                {
                    <li class="text-center list-group-item">
                        <div class="card shadow">
                            <div class="card-body">
                                <b>
                                    TestID:
                                </b>
                                @(content.TestID)
                                <b>
                                    Date:
                                </b>
                                @(content.DateOfCreation.ToShortDateString())
                                <b>
                                    Author:
                                </b>
                                @(content.Author.Name)
                                @(content.Author.LastName)
                                <b>
                                    Topic:
                                </b>

                                @(content.Topic)
                                <br />
                                <button class="btn btn-outline-dark btn-sm" @onclick="() => EditQuiz((TestDTO)content)">Edit</button>
                                <button class="btn btn-outline-danger btn-sm" @onclick="() => ModalShow(content)">Delete</button>
                                <button class="btn btn-outline-success btn-sm" @onclick="() => StartTest(content.TestID)">Start</button>
                                <button class="btn btn-outline-primary btn-sm" @onclick="() => GetFurtherTopicInformations(content.TestID)">Topic</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            @if (showModal)
            {
                <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
                    <div class="modal-dialog shadow">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Confirm delete</h4>
                                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <p>Are you sure you want to delete @currentTest.Topic?</p>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                                <button type="button" class="btn btn-danger" @onclick="() => DeleteTest(currentTest)">Delete</button>
                            </div>

                        </div>
                    </div>
                </div>

            }
            
        }
        else if (UserService.User != null && UserService.User.Role == Role.Student)
        {
            <ul class="list-group list-group-flush">

                @foreach (var content in Tests)
                {
                    <li class="text-center list-group-item">
                        <div class="card shadow">
                            <div class="card-body">
                                <b>
                                    TestID:
                                </b>
                                @(content.TestID)
                                <b>
                                    Date:
                                </b>
                                @(content.DateOfCreation.ToShortDateString())
                                <b>
                                    Author:
                                </b>
                                @(content.Author.Name)
                                @(content.Author.LastName)
                                <b>
                                    Topic:
                                </b>

                                @(content.Topic)
                                <br />
                                <button class="btn btn-outline-success btn-sm" @onclick="() => StartTest(content.TestID)">Start</button>
                                <button class="btn btn-outline-primary btn-sm" @onclick="() => GetFurtherTopicInformations(content.TestID)">Topic</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    }
    else
    {
        <h5 class="text-center">Loading ...  or no content found.</h5>
    }

</div>

@code {
    public string searchValue = "";

    public bool isFiltered { get; set; }

    public List<TestDTO> Tests { get; set; }

    private List<TestDTO> copyOfTest { get; set; }

    private TestDTO currentTest { get; set; }

    private bool showModal = false;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Tests = await TestDefinitionService.GetTestOverview();
    }

    private void EditQuiz(TestDTO test)
    {
        NavigationManager.NavigateTo("/testedit/" + test.TestID);
    }

    private void AddTest()
    {
        NavigationManager.NavigateTo("/testedit/0");
    }

    private async Task DeleteTest(TestDTO test)
    {

        Tests.Remove(test);
        if (copyOfTest != null)
        {
            copyOfTest.Remove(test);
        }
        await TestDefinitionService.DeleteTest(test.TestID);

        showModal = false;
        StateHasChanged();
        await Task.Delay(3000);
    }


    private void SearchContent()
    {
        if (Tests != null && searchValue != null)
        {
            copyOfTest = new List<TestDTO>(Tests);
            isFiltered = true;
            Tests.Clear();
            Tests.AddRange(copyOfTest.Where(t => t.Topic.ToLower().StartsWith(searchValue.ToLower())));
        }
    }

    private void ResetSearchContent()
    {
        isFiltered = false;
        Tests.Clear();
        Tests.AddRange(copyOfTest);
    }

    private void StartTest(int contentId)
    {
        NavigationManager.NavigateTo("/runtest/" + contentId);
    }

    private void GetFurtherTopicInformations(int contentId)
    {
        NavigationManager.NavigateTo("/furtherinformation/" + contentId);
    }

    void ModalShow(TestDTO test)
    {

        showModal = true;
        currentTest = test;

    }

    void ModalCancel() => showModal = false;
}